/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* GENERAL */

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.fa {
  font-size: 20px;
}
.fa.lingoloop {
  background: url('https://d1ykinjj6nsuoz.cloudfront.net/assets/logo-bebb228cf9fd690b19491036e9378f3d8f70bb39417f7988d121e0ff5abfe7e5.png') no-repeat center;
  background-size:60px;
  width:80%;
  height:16px;
}



/* NAV */

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}
.affix-top > .navbar  {
  /*background:rgba(0, 0, 0, 0);*/
}
@media (max-width:768px) {
  .navbar-default {
    background: rgba(33, 63, 153, 0.7);
  }
}

.header-single {
  height:70px;
  background-color: rgba(0, 0, 0, 0.7);
}

#heading-breadcrumbs {
  padding-top:25px;
}

/* not working */
.navbar .affix-top {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.affix {
  background-color: rgba(0, 0, 0, 0.7);;
}
.home-carousel {
  background-image: none;
}
.home-carousel .owl-carousel {
  padding-top: 0;
}

.navbar ul.nav > li > a {
  text-decoration: none;
  color:white;
}


/* CAROUSEL */

.home-carousel .dark-mask {
  background-color: rgba(0,0,0,0.5);
}
.bgl-carousel .item {
  background: rgba(0, 0, 0, 0.5) url(..) no-repeat center center;
  background-size: 100%;
  padding-top:100px;
  height:100vh;
}
.bgl-carousel .item::before {
  background: rgba(0,0,0,0.9);
}
.home-carousel h1 {
  padding-top: 100px;
}

.home-carousel .owl-theme .owl-controls .owl-page.active span {
  background:
}

/* TEAM */

.testimonials .item .testimonial .name-picture {
  width: 100%;
}
.testimonials .item .testimonial .name-picture img {
  width:80px;
  border-radius: 40px;
}
.testimonials .item .testimonial .name-picture h5 {
  padding-top:10px;
}
